#root {
    -fx-background-color: dimgray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.jfx-button {
     -jfx-button-type: RAISED;
     -fx-text-fill: grey;
     -fx-pref-width: 100px;
}
#ugg-button {
     -fx-background-color: rgba(49, 76, 241 ,0.7);
     -fx-text-fill: white;
}
#mobafire-button {
     -fx-background-color: rgba(255, 194, 103, 0.7);
}
#leagueofgraphs-button {
     -fx-background-color: rgba(88, 210, 202, 0.7);
}
.jfx-button:hover {
    -fx-cursor: hand;
}
.filled-box {
    -fx-background-color: rgba(71, 93, 255, 0.7);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.1, 5, 5);
}
#terminate {
   -fx-background-color: transparent;
   -fx-radius: 25;
}
#terminate:hover {
    -fx-background-color: rgba(27, 195, 185, 0.2);
    -fx-cursor: hand;
}
