#root {
    -fx-background-color: dimgray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.font-changer {
    -fx-font-family: "Friz Quadrata";
}
.jfx-button {
     -jfx-button-type: RAISED;
     -fx-text-fill: black;
     -fx-font-size: 14px;
     -fx-background-radius: 25px;
}
.jfx-button:hover {
    -fx-cursor: hand;
}
.comm-build-button {
    -fx-background-color: rgba(255, 194, 103, 0.7);
}
.comm-build-button:hover {
     -fx-background-color: derive(#f7ad3e, -15%);
}
#ugg-button {
     -fx-background-color: rgba(49, 76, 241 ,0.7);
     -fx-text-fill: white;
}
#leagueofgraphs-button {
     -fx-background-color: rgba(88, 210, 202, 0.7);
     -fx-text-fill: black;
}
.scroll-pane > .viewport{
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-bar:vertical{
    -fx-background-color: transparent;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(18, 111, 239, 1);
    -fx-background-radius: 5em;
}
.jfx-button:hover {
    -fx-cursor: hand;
}
.filled-box {
    -fx-background-color: rgba(79, 79, 79 , 0.4);
    -fx-background-radius: 7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.1, 5, 5);
}
.filled-box-label {
    -fx-font-size: 18px;
    -fx-font-type: bold;

}
#core-item-box {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(212,175,55, 0.7);
}
#champion-name {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.5)
}
#arrow {
    -fx-background-color: transparent;
    -fx-radius: 25;
    -fx-cursor: hand;
}
#arrow:hover {
    -fx-background-color: rgba(110, 110, 110, 0.9);
}
.tool-tip-item {
    -fx-font-family: "Friz Quadrata";
    -fx-font-size: 14px;
    -fx-background-color: black;
}
.util-button {
     -fx-background-color: transparent;
     -fx-radius: 25;
}
#terminate:hover {
    -fx-background-color: rgba(255, 60, 60, 0.4);
    -fx-cursor: hand;
}
#iconify:hover {
    -fx-background-color: rgba(110, 110, 110, 0.5);
    -fx-cursor: hand;
}
#application-header {
    -fx-background-color: rgba(75, 75, 75, 0.9);
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}
