#root {
    -fx-background-color: dimgray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.font-changer {
    -fx-font-family: "Friz Quadrata";
}
.jfx-button {
     -jfx-button-type: RAISED;
     -fx-text-fill: grey;
     -fx-pref-width: 100px;
     -fx-font-size: 14px;
     -fx-background-radius: 25px;
}
#ugg-button {
     -fx-background-color: rgba(49, 76, 241 ,0.7);
     -fx-text-fill: white;
}
#leagueofgraphs-button {
     -fx-background-color: rgba(88, 210, 202, 0.7);
}
.jfx-button:hover {
    -fx-cursor: hand;
}
.filled-box {
    -fx-background-color: rgba(79, 79, 79 , 0.4);
    -fx-background-radius: 7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.1, 5, 5);
}
#core-item-box {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(212,175,55, 0.7);
}
#champion-name {
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: rgba(0, 0, 0, 0.5)
}
#arrow {
    -fx-background-color: transparent;
    -fx-radius: 25;
    -fx-cursor: hand;
}
#arrow:hover {
    -fx-background-color: rgba(110, 110, 110, 0.9);
}
.tool-tip-item {
    -fx-font-family: "Friz Quadrata";
    -fx-font-size: 14px;
    -fx-background-color: black;
}
.util-button {
     -fx-background-color: transparent;
     -fx-radius: 25;
}
#terminate:hover {
    -fx-background-color: rgba(255, 60, 60, 0.4);
    -fx-cursor: hand;
}
#iconify:hover {
    -fx-background-color: rgba(110, 110, 110, 0.9);
    -fx-cursor: hand;
}
#application-header {
    -fx-background-color: rgba(90, 90, 90, 0.9);
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}
