#root {
    -fx-background-color: dimgray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.font-changer {
    -fx-font-family: "Friz Quadrata";
}
#terminate:hover {
    -fx-background-color: rgba(255, 60, 60, 0.4);
    -fx-cursor: hand;
}
#iconify:hover {
    -fx-background-color: rgba(110, 110, 110, 0.5);
    -fx-cursor: hand;
}
#application-header {
    -fx-background-color: rgba(75, 75, 75, 0.9);
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}
.util-button {
      -fx-background-color: transparent;
      -fx-radius: 25;
}