#root {
    -fx-background-color: dimgray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
#terminate {
   -fx-background-color: transparent;
   -fx-radius: 25 25 25 25;
}
#terminate:hover {
    -fx-background-color: rgba(79, 79, 79 , 0.3);
    -fx-cursor: hand;
}