#root {
    -fx-background-color: dimgray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.font-changer {
    -fx-font-family: "Friz Quadrata";
}
.jfx-button {
     -jfx-button-type: RAISED;
     -fx-text-fill: black;
     -fx-min-width: 200px;
     -fx-min-height: 75px;
     -fx-font-size: 14px;
     -fx-background-radius: 25px;
}
.jfx-button:hover {
    -fx-cursor: hand;
}
.coming-soon {
    -fx-font-size: 18px;
    -fx-border-radius: 25px;
    -fx-border-color: darkgray;
    -fx-padding: 7px;
    -fx-pref-height: 65px;
}
#ugg-button {
     -fx-background-color: rgba(49, 76, 241, 0.7);
     -fx-text-fill: white;
}
#ugg-button:hover {
     -fx-background-color: derive(#314cf1, -15%);
     -fx-text-fill: white;
}
#mobafire-button {
     -fx-background-color: rgba(255, 194, 103, 0.7);
     -fx-text-fill: black;
}
#mobafire-button:hover {
     -fx-background-color: derive(#f7ad3e, -15%);
}
#leagueofgraphs-button {
     -fx-background-color: rgba(88, 210, 202, 0.7);
     -fx-text-fill: black;
}
#leagueofgraphs-button:hover {
     -fx-background-color: derive(#34cfc5, -15%);
}
.util-button {
     -fx-background-color: transparent;
     -fx-radius: 25;
}
#terminate:hover {
    -fx-background-color: rgba(255, 60, 60, 0.4);
    -fx-cursor: hand;
}
#iconify:hover {
    -fx-background-color: rgba(110, 110, 110, 0.5);
    -fx-cursor: hand;
}
#application-header {
    -fx-background-color: rgba(75, 75, 75, 0.9);
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}
